body { background: #3a06d7; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 53px; display: flex; }
.block-cache-0 { color: #7bac23; font-size: 20px; margin-bottom: 5px; }
.block-sms-1 { color: #e54d6a; font-size: 16px; margin-bottom: 5px; }
.block-config-2 { color: #a9ad9e; font-size: 16px; margin-bottom: 5px; }
.block-payment-3 { color: #12945c; font-size: 21px; margin-bottom: 5px; }
.block-router-4 { color: #34bf44; font-size: 18px; margin-bottom: 5px; }
.block-token-5 { color: #97c1ee; font-size: 16px; margin-bottom: 5px; }
.block-filter-6 { color: #72d236; font-size: 12px; margin-bottom: 5px; }